In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm

In [6]:
# Import colonial_legacy.dta
df = pd.read_stata('colonial_legacy.dta')

# Define list of variables to all regressions child_age_cont child_age_cont2 b4 hv007 hv025 elev LATNUM LONGNUM mean_temp mean_rain land_suit malaria_ecology tsi_grid_tsi atlantic_all_years dist_missions
variables = ['child_age_cont', 'child_age_cont2', 'b4', 'hv007', 'hv025', 'elev', 'LATNUM', 'LONGNUM', 'mean_temp', 'mean_rain', 'land_suit', 'malaria_ecology', 'tsi_grid_tsi', 'atlantic_all_years', 'dist_missions']

# Display the first 5 rows of the data
df.head()

,hv007,hv025,refused_any_blood_test,Times_Prospected,LATNUM,LONGNUM,land_suit,elev,malaria_ecology,mean_temp,mean_rain,tsi_grid_tsi,atlantic_all_years,dist_missions,relative_suitability,b4,vaccination_index,child_age_cont,child_age_cont2,cluster_id
0,2011,urban,0.0,0.0,10.34002,15.266488,0.548376,326.56076,15.434868,28.075,63.083333,0.208876,0.0,0.0,-1.540202,female,0.3,0.500000,0.250000,2.0
1,2011,urban,0.0,0.0,10.34002,15.266488,0.548376,326.56076,15.434868,28.075,63.083333,0.208876,0.0,0.0,-1.540202,male,0.9,0.833333,0.694444,2.0
2,2011,urban,0.0,0.0,10.34002,15.266488,0.548376,326.56076,15.434868,28.075,63.083333,0.208876,0.0,0.0,-1.540202,female,0.8,0.750000,0.562500,2.0
3,2011,urban,0.0,0.0,10.34002,15.266488,0.548376,326.56076,15.434868,28.075,63.083333,0.208876,0.0,0.0,-1.540202,female,0.3,0.916667,0.840278,2.0
4,2011,urban,0.0,0.0,10.34002,15.266488,0.548376,326.56076,15.434868,28.075,63.083333,0.208876,0.0,0.0,-1.540202,male,0.0,0.916667,0.840278,2.0

*We will also use cluster-robust standard errors at the survey cluster level. For the sake of the problem set you donâ€™t need to worry about this for your answers.*

# #11