In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm

In [2]:
# Import colonial_legacy.dta
df = pd.read_stata('colonial_legacy.dta')

# Display the first 5 rows of the data
df.head()

,hv007,hv025,refused_any_blood_test,Times_Prospected,LATNUM,LONGNUM,land_suit,elev,malaria_ecology,mean_temp,mean_rain,tsi_grid_tsi,atlantic_all_years,dist_missions,relative_suitability,b4,vaccination_index,child_age_cont,child_age_cont2,cluster_id
0,2011,urban,0.0,0.0,10.34002,15.266488,0.548376,326.56076,15.434868,28.075,63.083333,0.208876,0.0,0.0,-1.540202,female,0.3,0.500000,0.250000,2.0
1,2011,urban,0.0,0.0,10.34002,15.266488,0.548376,326.56076,15.434868,28.075,63.083333,0.208876,0.0,0.0,-1.540202,male,0.9,0.833333,0.694444,2.0
2,2011,urban,0.0,0.0,10.34002,15.266488,0.548376,326.56076,15.434868,28.075,63.083333,0.208876,0.0,0.0,-1.540202,female,0.8,0.750000,0.562500,2.0
3,2011,urban,0.0,0.0,10.34002,15.266488,0.548376,326.56076,15.434868,28.075,63.083333,0.208876,0.0,0.0,-1.540202,female,0.3,0.916667,0.840278,2.0
4,2011,urban,0.0,0.0,10.34002,15.266488,0.548376,326.56076,15.434868,28.075,63.083333,0.208876,0.0,0.0,-1.540202,male,0.0,0.916667,0.840278,2.0

*We will also use cluster-robust standard errors at the survey cluster level. For the sake of the problem set you donâ€™t need to worry about this for your answers.*

# Data Preparation

In [3]:
# Check data types
df.dtypes

# Convert b4 and hv025 to dummy variables
df = pd.get_dummies(df, columns=['b4', 'hv025'])

# Convert all boolean variables to int
for col in df.columns:
    if df[col].dtype == 'bool':
        df[col] = df[col].astype(int)

# Define list of variables to all regressions child_age_cont child_age_cont2 b4 hv007 hv025 elev LATNUM LONGNUM mean_temp mean_rain land_suit malaria_ecology tsi_grid_tsi atlantic_all_years dist_missions
# b4 and hv025 are replaced by the dummy columns b4_male, b4_female, hv025_urban, hv025_rural
variables = ['child_age_cont', 'child_age_cont2', 'b4_male', 'b4_female', 'hv007', 'hv025_urban', 'hv025_rural', 'elev', 'LATNUM', 'LONGNUM', 'mean_temp', 'mean_rain', 'land_suit', 'malaria_ecology', 'tsi_grid_tsi', 'atlantic_all_years', 'dist_missions']

# Display the first 5 rows of the data
df.head()

,hv007,refused_any_blood_test,Times_Prospected,LATNUM,LONGNUM,land_suit,elev,malaria_ecology,mean_temp,mean_rain,...,dist_missions,relative_suitability,vaccination_index,child_age_cont,child_age_cont2,cluster_id,b4_male,b4_female,hv025_urban,hv025_rural
0,2011,0.0,0.0,10.34002,15.266488,0.548376,326.56076,15.434868,28.075,63.083333,...,0.0,-1.540202,0.3,0.500000,0.250000,2.0,0,1,1,0
1,2011,0.0,0.0,10.34002,15.266488,0.548376,326.56076,15.434868,28.075,63.083333,...,0.0,-1.540202,0.9,0.833333,0.694444,2.0,1,0,1,0
2,2011,0.0,0.0,10.34002,15.266488,0.548376,326.56076,15.434868,28.075,63.083333,...,0.0,-1.540202,0.8,0.750000,0.562500,2.0,0,1,1,0
3,2011,0.0,0.0,10.34002,15.266488,0.548376,326.56076,15.434868,28.075,63.083333,...,0.0,-1.540202,0.3,0.916667,0.840278,2.0,0,1,1,0
4,2011,0.0,0.0,10.34002,15.266488,0.548376,326.56076,15.434868,28.075,63.083333,...,0.0,-1.540202,0.0,0.916667,0.840278,2.0,1,0,1,0

In [ ]:
df.dtypes

# #11

In [5]:
# Estimate the naÃ¯ve OLS model: ğ‘‰ğ‘ğ‘ğ‘ğ‘–ğ‘›ğ‘ğ‘¡ğ‘–ğ‘œğ‘› ğ‘–ğ‘›ğ‘‘ğ‘’ğ‘¥ğ‘– = ğ›½0 + ğ›½1ğ‘‡ğ‘–ğ‘šğ‘’ğ‘  ğ‘‰ğ‘–ğ‘ ğ‘–ğ‘¡ ğ‘ƒğ‘Ÿğ‘œğ‘ ğ‘ğ‘’ğ‘ğ‘¡ğ‘– + ğ‘¿ğ’“ğ’•ğ’Šâ€²ğ‘© + ğ’–ğ’“ğ’•ğ’Š
# Where ğ‘¿ğ’“ğ’•ğ’Šâ€²ğ‘© is a vector of the control variables we defined above. Interpret ğ›½1.

# Add a constant to the independent variable
X = sm.add_constant(df[['Times_Prospected'] + variables])

# Estimate the model
model = sm.OLS(df['vaccination_index'], X).fit()

# Print the results
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:      vaccination_index   R-squared:                       0.360
Model:                            OLS   Adj. R-squared:                  0.360
Method:                 Least Squares   F-statistic:                     427.1
Date:                Tue, 14 Nov 2023   Prob (F-statistic):               0.00
Time:                        19:12:21   Log-Likelihood:                -3840.4
No. Observations:               12139   AIC:                             7715.
Df Residuals:                   12122   BIC:                             7841.
Df Model:                          16
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
const                 -4.2580      1.001     -4.255      0.000      -6.220      -2.296
Times_Prospected      -0.0683      0.001    -57.984      0.000      -0.071      -0.066
child_age_cont         0.0626      0.017      3.763      0.000       0.030       0.095
child_age_cont2       -0.0107      0.007     -1.466      0.143      -0.025       0.004
b4_male               -2.1361      0.500     -4.269      0.000      -3.117      -1.155
b4_female             -2.1219      0.500     -4.241      0.000      -3.103      -1.141
hv007                  0.0053      0.001      5.393      0.000       0.003       0.007
hv025_urban           -2.1168      0.500     -4.230      0.000      -3.098      -1.136
hv025_rural           -2.1412      0.500     -4.280      0.000      -3.122      -1.161
elev                   0.0001   3.68e-05      3.982      0.000    7.44e-05       0.000
LATNUM                -0.0453      0.003    -14.153      0.000      -0.052      -0.039
LONGNUM               -0.0437      0.004    -11.155      0.000      -0.051      -0.036
mean_temp             -0.0245      0.006     -3.794      0.000      -0.037      -0.012
mean_rain             -0.0013      0.000     -9.664      0.000      -0.002      -0.001
land_suit             -0.0420      0.018     -2.375      0.018      -0.077      -0.007
malaria_ecology        0.0099      0.001      9.415      0.000       0.008       0.012
tsi_grid_tsi          -0.0906      0.007    -12.978      0.000      -0.104      -0.077
atlantic_all_years -3.031e-06   1.41e-06     -2.157      0.031   -5.79e-06   -2.77e-07
dist_missions         -0.0087      0.005     -1.675      0.094      -0.019       0.001
==============================================================================
Omnibus:                      538.752   Durbin-Watson:                   1.246
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              612.054
Skew:                          -0.546   Prob(JB):                    1.24e-133
Kurtosis:                       3.127   Cond. No.                     1.10e+19
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 9.42e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.